<div>
    <table class="userInfo">
        <tr>
            <td>Имя пользователя</td>
            <td>Пол</td>
            <td>Дата рождения</td>
            <td>Направление обучения</td>
            <td>Дата начала обучения</td>
            <td>Дата конца обучения</td>
        </tr>
        <tr>
            <td>User</td>
            <td>Male</td>
            <td>07/05/2000</td>
            <td>Quality Assurance</td>
            <td>07/03/2021</td>
            <td>07/05/2021</td>
        </tr>
    </table>    
</div>