<div>
    <kendo-grid [data]="usersData" (edit)="onEdit($event)" (remove)="removeHandler($event)" [height]="410">
        <kendo-grid-column field="name" title="Имя пользователя">
        </kendo-grid-column>
        <kendo-grid-column field="gender.text" title="Пол">
        </kendo-grid-column>
        <kendo-grid-column field="dateOfBirth" title="Дата рождения">
        </kendo-grid-column>
        <kendo-grid-column field="directionOfStudy.text" title="Направление обучения">
        </kendo-grid-column>
        <kendo-grid-column field="startDateOfTraining" title="Дата начала обучения">
        </kendo-grid-column>
        <kendo-grid-column field="endDateOfTraining" title="Дата конца обучения">
        </kendo-grid-column>
        <kendo-grid-command-column field="id" title="Редактирование\Удаление">
            <ng-template kendoGridCellTemplate>
                <button kendoGridEditCommand [primary]="true">Edit</button>
                <button kendoGridRemoveCommand>Delete</button>
            </ng-template>
        </kendo-grid-command-column>
    </kendo-grid>
</div>