<div>
    <table class="userInfo">
        <tr>
            <td>Имя пользователя</td>
            <td>Пол</td>
            <td>Дата рождения</td>
            <td>Направление обучения</td>
            <td>Дата начала обучения</td>
            <td>Дата конца обучения</td>
        </tr>
        <tr *ngFor="let usersData of usersData">
            <td>{{usersData.name}}</td>
            <td>{{usersData.gender.text}}</td>
            <td>{{usersData.dateOfBirth | date:'yyyy/MM/dd'}}</td>
            <td>{{usersData.directionOfStudy.text}}</td>
            <td>{{usersData.startDateOfTraining | date:'yyyy/MM/dd'}}</td>
            <td>{{usersData.endDateOfTraining | date:'yyyy/MM/dd'}}</td>
        </tr>
    </table>    
</div>